%h1 #{@friend.info['name']}

.explanation Who comments most on #{@friend.info['name']}'s wall?

=link_to "<< Back", friends_path, :class => :back

#commenters=render :partial =>'friends/commenter', :collection => @top_commenters
    